body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #A2D9CF;
}

.container {
    width: 300px;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 106%;
    padding: 20px;
    background-color: #26a38d;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
